<h1>Characters and Their Weapons</h1>

<!-- TODO need to double check all of this and hookup the backend-->

<h3>Associate a Weapon with a Character</h3>
<form name='character_weapon_data'>
	Character:<br>
	<select name='character_id'>
		<option value='1'>first_name last_name</option>
	</select><br>
	Weapon:<br>
	<select name='weapon_id'>
		<option value='1'>weapon_name</option>
	</select>
	<br>
	<input type='submit' value='Submit'>
</form>
<br>
<h3>Current Character/Weapon Combinations</h3>
<table>
	<thead>
		<th>Name</th>
		<th>Weapon</th>
	</thead>
	<tbody>
		<td>first_name last_name</td>
		<td>weapon_name</td>
		<td><button onclick='#''>Delete</button></td>
	</tbody>
</table>