<h1>LOTR DB App<h1>
<h2>Menu of Operations</h2>
<ul>
	<li><a href="/characters">List, Add, Update, and Delete Characters</a></li>
	<li><a href="/weapons">List, Add, Update, and Delete Weapons</a></li>
	<li><a href="/places">List, Add, Update, and Delete Places</a></li>
	<li><a href="/races">List, Add, Update, and Delete Races</a></li>
	<li><a href="/characters_weapons">List, Add, Update, and Delete Character/Weapons</a></li>
</ul>