<h1>LOTR Races</h1>
<form name="race-data">
	Name:<br>
	<input type='text' name='name'><br>
	<input type='checkbox' name='free' value='TRUE'>Free<br>
	<input type='submit' id='race_submit' value='Add Race'>
</form>