<h1>LOTR Races</h1>
<h3>Add New Race</h3>
<form name="race-data">
	Name:<br>
	<input type='text' name='name'><br>
	<input type='checkbox' name='free' value='TRUE'>Free<br>
	<input type='submit' id='race_submit' value='Add Race'>
</form>
<br>
<h3>Current Races</h3>
<table>
	<thead>
		<th>Name</th>
	</thead>
	<tbody>
		<tr>
			<td>race_name</td>
			<td><button onclick='#'>Delete</td>
			<td><a href='#'>Update</a></td>
		</tr>
	</tbody>
</table>