<!-- HARDCODED FOR STEP 4-->
<h1>Update Frodo Baggins:</h1>
<form id='update_character' action='/people' method='post'>
	First Name:<br>
	<input type='text' name='first_name' value='Frodo'><br>
	Last Name:<br>
	<input type='text' name='last_name' value='Baggins'><br>
	Homeland:<br>
	<select name='place_id'>
		<option value='3'>The Shire</option>
	</select><br>
	Race:<br>
	<select name='race_id'>
		<option value='4'>Hobbit</option>
	</select><br>
	<button onclick=#>Update</button>
</form>