<h1>LOTR Weapons</h1>
<form name="weapon-data">
	Name:<br>
	<input type='text' name='name'><br>
	Power:<br>
	<input type='number' name='power'><br>
	<input type='submit' id='weapon_submit' value='Add Weapon'>
</form>